[Unit]
Description=Snek Queue Listener

[Service]
ExecStart=/usr/bin/php artisan queue:listen
WorkingDirectory=/home/snek/snek
Restart=on-failure

[Install]
WantedBy=multi-user.target
